<!--Bottom Nav Bar-->
<link rel="stylesheet" href="css/style.css">

<nav class="bottom-nav">
    <a href="index.html" class="nav-item">
        <i class="material-icons">home</i>
        <span>Home</span>
    </a>

    <a href="pages/early-life.html" class="nav-item">
        <i class="material-icons">family_link</i>
        <span>Early Life</span>
    </a>

    <a href="pages/travels.html" class="nav-item">
        <i class="material-icons">map</i>
        <span>Travels</span>
    </a>

    <a href="pages/works.html" class="nav-item">
        <i class="material-icons">book</i>
        <span>Works</span>
    </a>

    <a href="pages/legacy.html" class="nav-item">
        <i class="material-icons">history_edu</i>
        <span>Legacy</span>
</nav>